.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.spinner {
    position: relative;
    width: 50px;
    height: 50px;
}

.spinnerInner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
