@import '../../styles/colors';
@import '../../styles/mixins';

.editButton {
    font-size: 12px;
    color: $--primary-color;
    border-color: $--primary-color;
    box-shadow: none;
    width: fit-content;
}

.editButton:hover {
    background-color: #c87a0d;
    border-color: #e29933;
    color: white;
}

.outterContainer {
    @include flexAlign(row, space-between);
    margin-block: 20px;
    padding: 20px;
    border: 1px solid rgb(200, 200, 200);

    .innerContainer {
        @include flexAlign(column, flex-start, flex-start);
        flex: 1;
    }

    .innerContainer2 {
        @include flexAlign(row, flex-start);
        gap: 10px;
        flex: 1;
    }

    .innerContainer3 {
        @include flexAlign;
        gap: 10px;
    }

    .innerText {
        padding: 0px;
        margin: 0px;
        line-height: 1.5;
    }

    .innerTextSubtitle1 {
        padding: 0px;
        margin: 0px;
        line-height: 1;
        color: gray;
    }
}
