.edit-client-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.edit-client-form-header-container {
  width: 80%;
}

.edit-client-listing-header {
  margin-bottom: 20px;
}

.edit-client-listing-infos-form-container div h3 {
  font-weight: 400;
  color: #6B747D;
  margin-bottom: 8px;
}

.edit-client-listing-infos-form-container div > p {
  font-weight: 300;
  color: #ACACAC;
}

.edit-client-listing-infos-form-container {
  border-top: 1px #dfdfdf solid;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.edit-client-btn-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.edit-client-edit-btn {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #E29934;
  color: #fff;
  cursor: pointer;
  border: 1px solid #E29934;
  margin-right: 20px;
}

.edit-client-back-btn {
  background-color: #fff;
  color: #E29934;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #E29934;
}

.edit-client-back-btn:hover {
  background-color: #E29934;
  color: #fff;
}

