.editButton {
    font-size: 10px;
    color: #e29933;
    border-color: #e29933;
    box-shadow: none;
}

.editButton:hover {
    background-color: #c87a0d;
    border-color: #e29933;
    color: white;
}

.outterContainer {
    margin-block: 20px;
    padding: 20px;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerContainer {
    display: flex;
    flex-direction: column;
}

.innerContainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.innerText {
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
}

.innerTextSubtitle1 {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    color: gray;
}
