.container {
  width: 80%; /* Tamanho máximo em relação à página */
  margin: 0 auto;
  margin-bottom: 2rem; /* Centraliza horizontalmente */
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  /* align-items: center; Centraliza verticalmente */
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -12px;
}