.container {
  width: 80%; /* Tamanho máximo em relação à página */
  margin: 0 auto;
  margin-bottom: 2rem; /* Centraliza horizontalmente */
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  /* align-items: center; Centraliza verticalmente */
}

.container ul {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  /* align-items: flex-start; */
}

.container > p {
  color: #999;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .container {
    width: 90%; /* Reduz tamanho em dispositivos menores */
  }
}