.button {
  width: 130px;
  height: 45px;
  border: 2px solid #f2d0a0;
  background-color: #fff;
  color: #f2d0a0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 1.15rem;
  font-weight: 500;
  transition: background-color 0.3s;

  svg {
    margin-left: 0.6rem;
  }

  &:hover {
    background-color: #e29933;
    color: #fff;
    cursor: pointer;
  }
}