@import '../styles/mixins';

.appBar {
    position: static;
    height: 60px;
    display: flex;
    align-items: center;
}

.mainContainer {
    width: 65%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clientPanelHeader {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-block: 10px;
}

.clientPanelIcon {
    font-size: 40px;
}
