.create-client-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.create-client-form-header-container {
  width: 80%;
}

.create-client-listing-header {
  margin-bottom: 20px;
}

.create-client-listing-infos-form-container div h3 {
  font-weight: 400;
  color: #6B747D;
  margin-bottom: 8px;
}

.create-client-listing-infos-form-container div p {
  font-weight: 300;
  color: #ACACAC;
}

.create-client-listing-infos-form-container {
  border-top: 1px #dfdfdf solid;
  margin-top: 20px;
  padding-top: 20px;
}
